html, body {
  height: 100%;
  margin: 0;
  font-family: Arial;
  color: #ffffff;
}

h1 {
  font-size: 62px;
}

p, a {
  font-size: 0.75rem;
}

img {
  padding-left: 30px;
  height: 350px;
  width: 550px;
}


.container {
  min-height: 100%;
  display: flex;

}

.nav {
  width: 15%;
  min-width: 140px;
  color: #FFCFCF;
  padding-top: 55px;
  padding-right: 30px;
  text-align: center;
  float: right;
}

.nav h4 {
  -webkit-margin-before: 0;
  margin-left: 30px;
}

.nav h4:active {
  top: 2px;
}

.nav li {
  margin: 10px;
  position: relative;
  cursor: pointer;
  padding: 8px 18px;
  font-size: 1rem;
}

.nav li:active {
  top: 2px;
}
.nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.main ul {
  padding-left: 30px;
}

.main li {
  font-size: 0.85rem;
}

.main {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: #FFCFCF;
}

.main h1 {
  -webkit-margin-before: 0;
  padding-top: 40px;
  padding-left: 30px;
  text-align: center;
}
.main h3 {
  text-align: center;
}
.main h4 {
  text-align: center;
}

.main p {
  padding-left: 30px;
  width: 55%;
  min-width: 550px;
}

.main a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}

.main a:hover {
  text-decoration: underline;
}

.item {
  margin: 20px;
  text-align: center;
}
.item img {
  margin: 2px;
  border: 10px dashed #FFF;
  padding: 10px;
}
.item p {
  padding-left: 30px;
  width: 55%;
  min-width: 550px;
}

.item video {
  padding-left: 30px;
}
